<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="card mb-5" style="max-width: 2000px;" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src={{usuario.foto}} class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{usuario.nombre}}</h5>
        <p class="card-text">Lorem Ciudad</p>
      </div>
    </div>
  </div>
</div>

